@import url(https://fonts.googleapis.com/css?family=Kalam|Patrick+Hand|Permanent+Marker);


.App {
  font-family: 'Permanent Marker', cursive;
}

.landing{
  background-image:url(https://res.cloudinary.com/scarlettbrooke1221/image/upload/v1530913765/03.jpg), url(https://res.cloudinary.com/scarlettbrooke1221/image/upload/v1530913763/01.jpg) ;
  background-repeat: repeat;
  background-size: 75px, 50px;
   
}

img{
  opacity: 0.5;
  height:150px;
  width: 150px;
}


header {
  text-align: center;
  padding:15px;
  font-size: 52px;
  font-family: 'Permanent Marker', cursive;
  color: white;
 background:url(https://res.cloudinary.com/scarlettbrooke1221/image/upload/v1530913765/02.jpg); 
}

p{
  font-family: 'Kalam', cursive,bold;
  font-size: 22px;
  
}

h2{
  font-family: 'Permanent Marker';
 }
 
 nav {
	 font-size: 20px;
 }
