@import url(https://fonts.googleapis.com/css?family=Kalam|Patrick+Hand|Permanent+Marker);


header {
  text-align: center;
  padding:15px;
  font-size: 52px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

p{
  font-family: 'Kalam', cursive,bold;
  font-size: 22px;
  
}

h2{
  font-family: 'Permanent Marker', cursive;
 }
 

